<div class="container">
  <h1>Calcula tu edad</h1>
  <div class="col-lg-8 ">
    <h3 *ngIf="exito" class="text-success">Edad calculada con exito!</h3>
    <h4><small></small></h4>
     <div class="row well center">
        <form (ngSubmit)="enviar()" #personaForm="ngForm">
           <div class="col-sm-12">
              <div class="row">
                 <div class="col-sm-6 form-group">
                    <label>Nombre</label>
                    <input required ngModel  type="text" class="form-control" id="Nombre" #Nombre="ngModel" name="Nombre" [(ngModel)]="persona.nombre">
                 </div>


                 <div class="col-sm-6 form-group">
                    <label>Apellido</label>
                    <input type="text" class="form-control" name="apellido" [(ngModel)]="persona.apellido" required >
                 </div>
              </div>
              <div class="row">
                <div class="col-sm-6 form-group">
                   <label>Fecha Nacimiento</label>
                   <input type="date"  class="form-control" name="fechaNacimiento" [(ngModel)]="persona.fechaNacimiento" required >
                </div>
             </div>



             <div class="row">
                <div class="col-sm">

                  <button type="submit" class="btn btn-lg btn-warning" [disabled]="!personaForm.valid" >Enviar</button>

                  <input type=reset value="Limpiar" class="btn btn-lg btn-info">
                </div>
            </div>


              <div class="row" *ngIf="exito" >
                <div class="col-sm-6 form-group">
                   <label>Edad</label>
                   <input type="text" class="form-control" id="Edad" name="Edad" [(ngModel)]="persona.edad" readonly="readonly">
                </div>
              </div>
              <div class="row" *ngIf="siMensaje" >
                <div class="col-sm-6 form-group">
                   <label>Mensaje</label>
                   <textarea  type="text" class="form-control" name="mensaje" [(ngModel)]="persona.mensaje" rows="8" cols="500" readonly="readonly">
                  </textarea>
                </div>
             </div>
           </div>
        </form>

        <ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="default" type="ball-spin-clockwise">
         <p style="color: white">Cargando. </p>
         </ngx-spinner>
     </div>
  </div>
</div>
